@import url("//fonts.googleapis.com/css?family=Nunito:400,600,700,800");

body {
  background-color: #eff2f4; /*edited*/
  font-size: 14px;
  font-weight: 400;
  font-family: "Nunito", "Segoe UI", arial;
  color: #6c757d; }

h2 {
    font-size: 24px;
    line-height: 28px;
    color: #34395e;
    padding-right: 10px;
    margin-bottom: 0;
    font-weight: 700;
}

.btn {
    font-weight: 600;
    line-height: 24px;
    letter-spacing: .5px;
}

.btn-link {
    font-weight: 400;
    color: #18a4e0;
    text-decoration: none;
}

.btn-primary, .btn-primary.disabled {
    box-shadow: 0 2px 6px #acb5f6;
    background-color: #18a4e0;
    border-color: #18a4e0;
}

.form-group .control-label, .form-group > label {
    font-weight: 600;
    color: #34395e;
    font-size: 12px;
    letter-spacing: .5px;
}

a {
    color: #18a4e0;
    font-weight: 500;
    transition: all .5s;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
}

.card {
    box-shadow: 0 4px 8px rgb(0 0 0 / 3%);
    background-color: #fff;
    border-radius: 10px;
    border: none;
    position: relative;
    margin-bottom: 30px;
}

.ck-editor__editable,
textarea {
    min-height: 150px;
}

.datatable {
    width: 100% !important;
}

table.dataTable tbody td.select-checkbox::before,
table.dataTable tbody td.select-checkbox::after,
table.dataTable tbody th.select-checkbox::before,
table.dataTable tbody th.select-checkbox::after {
    top: 50%;
}

.dataTables_length,
.dataTables_filter,
.dt-buttons {
    margin-bottom: 0.333em;
    margin-top: .2rem;
}

.dataTables_filter {
    margin-right: .2rem;
}

.dt-buttons .btn {
    margin-left: 0.333em;
    border-radius: 0;
}

.table.datatable {
    box-sizing: border-box;
    border-collapse: collapse;
}

table.dataTable thead th {
    border-bottom: 2px solid #c8ced3;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
    border-bottom: 1px solid #c8ced3;
}

.select2 {
    max-width: 100%;
    width: 100% !important;
}

.select2-selection__rendered {
    padding-bottom: 5px !important;
}

.has-error .invalid-feedback {
    display: block !important;
}

.btn-info,
.badge-info {
    color: white;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc {
    background-image: none;
}

.sidebar .nav-item {
    cursor: pointer;
}

.btn-default {
    color: #23282c;
    background-color: #f0f3f5;
    border-color: #f0f3f5;
}

.btn-default.focus,
.btn-default:focus {
    box-shadow: 0 0 0 .2rem rgba(209, 213, 215, .5);
}

.btn-default:hover {
    color: #23282c;
    background-color: #d9e1e6;
    border-color: #d1dbe1;
}

.btn-group-xs>.btn,
.btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.searchable-title {
    font-weight: bold;
}

.searchable-fields {
    padding-left: 5px;
}

.searchable-link {
    padding: 0 5px 0 5px;
}

.searchable-link:hover {
    cursor: pointer;
    background: #eaeaea;
}

.select2-results__option {
    padding-left: 0px;
    padding-right: 0px;
}

.form-group .required::after {
    content: " *";
    color: red;
}

.form-check.is-invalid~.invalid-feedback {
    display: block;
}

.c-sidebar-brand .c-sidebar-brand-full:hover {
    color: inherit;
}


.custom-select.form-control-sm {
    padding: 0.25rem 1.5rem;
}

/* 3.4 Alert */
.alert {
  color: #fff;
  border: none;
  padding: 15px 20px; }
  .alert .alert-title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 5px; }
  .alert code {
    background-color: #fff;
    border-radius: 3px;
    padding: 1px 4px; }
  .alert p {
    margin-bottom: 0; }
  .alert.alert-has-icon {
    display: flex; }
    .alert.alert-has-icon .alert-icon {
      margin-top: 4px;
      width: 30px; }
      .alert.alert-has-icon .alert-icon .ion, .alert.alert-has-icon .alert-icon .fas, .alert.alert-has-icon .alert-icon .far, .alert.alert-has-icon .alert-icon .fab, .alert.alert-has-icon .alert-icon .fal {
        font-size: 20px; }
    .alert.alert-has-icon .alert-body {
      flex: 1; }
  .alert:not(.alert-light) a {
    color: #fff; }
  .alert.alert-primary {
    background-color: #18a4e0; }
  .alert.alert-secondary {
    background-color: #cdd3d8; }
  .alert.alert-success {
    background-color: #47c363; }
  .alert.alert-info {
    background-color: #3abaf4; }
  .alert.alert-warning {
    background-color: #ffa426; }
  .alert.alert-danger {
    background-color: #d84339; }
  .alert.alert-light {
    background-color: #e3eaef;
    color: #191d21; }
  .alert.alert-dark {
    background-color: #191d21; }